Releases/
Simulator/Library/
Simulator/Temp/
Simulator/.DS_STORE
Simulator/.vscode/*

.DS_STORE

teamcode/__pycache__/
teamcode/resolver/__pycache__/
teamcode/.DS_STORE
teamcode/.vscode/*

# =============== #
# Unity generated #
# =============== #
Simulator/Temp/
Simulator/obj/
Simulator/UnityGenerated/
Simulator/Library/
Simulator/Assets/AssetStoreTools*

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
Simulator/ExportedObj/
Simulator/*.svd
Simulator/*.userprefs
Simulator/*.csproj
Simulator/*.pidb
Simulator/*.suo
Simulator/*.sln
Simulator/*.user
Simulator/*.unityproj
Simulator/*.booproj

# ============ #
# OS generated #
# ============ #
Simulator/.DS_Store
Simulator/.DS_Store?
Simulator/._*
Simulator/.Spotlight-V100
Simulator/.Trashes
Simulator/Icon?
Simulator/ehthumbs.db
Simulator/Thumbs.db